.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar {
  background-color: #2F2F2F;
}

.ant-layout-header {
  background-color: #2F2F2F !important;
}

.submit-button {
  background-color: #94BFA7;
  color: white;
  width: 100px;
}

.nav-button:hover {
  border-bottom: 2px solid transparent !important;
  color: inherit !important;
}

html {
  --antd-wave-shadow-color: #94BFA7 !important;
}

::selection {
  color: #fff;
  background: #94BFA7;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #94BFA7;
}
